.MainArea{
    display: flex;
    justify-content: space-between;
}
.Sidebar{
    display: flex;
    width: 22%;
    height:1rem;
    
}
.Sidebar>div{
    height: auto;
}
.home1{
    border-bottom:1px black solid;
}
.Quick_Icon{
    display: flex;
    align-items:center ;
    font-size: 1.7rem;
    height:1rem;
    padding:20px;
}
.Quick_Icon>div{
    padding:0 12px;
}
/*Main Part*/
.Main{
    display: grid;
    width: 83%;
}
.Main > div{
    margin:8px 2px;
}
.Videos{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.Video{
    justify-content: space-around;
    height:274px;
    left:0;
    width: 250px;
    margin:8px;
}
.Logo{
    display: flex;

}
.Logo > div{
    padding:0 12px;
}
.view{
    font-size:1.5rem;
    color:black;
}
.Videoss{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    border-bottom:.1px black solid;


}